button.active {
    background-color: #AABBEE;
}
.form: {border:solid 1px #8888BB;}
.message{
    position: absolute;
    top:20px;
    left:20px;
    border: solid 2px #888888;
    border-radius: 5px;
    width: 250px;
    height: auto;
    min-height: 50px;
    background-color: #DDDDDD;
    padding: 10px;
}
.message .btn-close {
    position: absolute;
    top:3px;
    right:5px;
    border-radius: 7px;
    width:15px;
    height:15px;
    border: solid 1px #DD8888;
    background-color: #EECCCC;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: white;
}
.cover {
    opacity:.8;
    background-color: #333333;
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
}
.cover div{
    margin: 30px auto;
    width:150px;
    border-radius: 20px 20px;
    padding:2px 10px;
    background-color: #559977;

}
.form label {
    width: 90px;
    display: inline-block;
    border-bottom: solid 1px #777777;
}
.form input:hover {
    background-color: #E8EEEE;
}
.form input:focus {
    background-color: #EEEEE8;
}