<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body ng-app="test3" ng-controller="ctrl" >
<button ng-click="mode='reg'" ng-class="{active:mode=='reg'}">Регистрация</button>
<button ng-click="mode='restore'" ng-class="{active:mode=='restore'}">Напомнить телефон</button>
<div ng-if="mode=='reg'" class="form">
    <h2>Добавление номера телефона и е-майл:</h2>
    <div><label for="email">E-mail:</label><input type="email" name="email" ng-model="reg.email"/></div>
    <div><label for="phone">Телефон:</label><input type="text" name="phone" ng-model="reg.phone"/></div>
    <button ng-click="doReg()">Добавить</button>
</div>
<div ng-if="mode=='restore'" class="form">
    <h2>Напомнить номера телефона на е-майл:</h2>
    <div><label for="email">E-mail:</label><input type="email" name="email" ng-model="restore.email"/></div>
    <button ng-click="doRestore()">Напомнить</button>
</div>
<div class="message" ng-show="message">
    <a href="" class="btn-close" ng-click="message=null">X</a>
    {{ message }}
</div>
<div class="cover" ng-if="requestPrecessing"><div>Doing...</div></div>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>